<%- include('../shared/includes/head', {pageTitle: 'Agents info'})%>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/auth.css">
<link rel="stylesheet" href="/styles/policies.css">

</head>
<body>
<%- include('../shared/includes/header')%>
<main>
  <br>
  <div id="agent-report">
    <h3>За период од <%=moment(startDate).format('DD/MM/YYYY')%> година до <%=moment(endDate).format('DD/MM/YYYY') %> година </h3>
    <p>Полисирана премија: <%= totalallPoliciesInPeriodPremium%>,00 денари</p>
    <p>Вкупна наплатена премија: <%=thetotalPaidPremium%>,00 денари. </p>
      <p>Процент на наплата на агентот <%= agentSeller %>: <%=Math.round(thetotalPaidPremium/totalallPoliciesInPeriodPremium*100) %> % </p>
    <p>Вкупен износ на провизија за период од <%=moment(startDate).format('DD/MM/YYYY')%> година до <%=moment(endDate).format('DD/MM/YYYY') %> година: <%=totalAgentCommission%> ,00 денари </p>
  </div>
  <br>    
  <h3>Сите полиси полисирани во периодот <%=moment(startDate).format('DD/MM/YYYY')%> година до <%=moment(endDate).format('DD/MM/YYYY')%> година </h3>
  <div class="clientRow">
    <p>Клиент</p>
    <p>Број на полиса</p>
    <p>Датум на полиса</p>
    <p>Премија на полиса</p>
  </div> 
    <% for (const policyOfAgent of allPoliciesInPeriod) { %>
      <div class="client-row">
        <p> <%= policyOfAgent.clientName || policyOfAgent.policyNumber.clientName%> </p>
        <p> <%= policyOfAgent.policyNumber.policyNumber || policyOfAgent.policyNumber%> </p>
        <p><%= moment(policyOfAgent.policyNumber.policyDate).format('DD/MM/YYYY') || (policyOfAgent.policyDate).format('DD/MM/YYYY') %> </p>
        <p> <%= policyOfAgent.policyNumber.policyAmount || policyOfAgent.policyAmount%>,00 денари </p>
      </div>
  <% } %>   

  <h3>Полиси на кои има наплата и се предмет на провизија во периодот <%=moment(startDate).format('DD/MM/YYYY')%> година до <%=moment(endDate).format('DD/MM/YYYY')%> година</h3>
    <br>
    <div class="agent-alt">
      <p>Клиент</p>
      <p>Број на полиса</p>
      <p>Датум на полиса</p>
      <p>Премија на полиса</p>
      <p>Уплата на премија (рата)</p>
      <p>Провизија (за рата): </p>
    </div> 


  <% for (const policyOfAgent of requiredPoliciesByPayment) { %>
    <div class="agent">
      <p> <%= policyOfAgent.clientName%> </p>
      <p> <%= policyOfAgent.policyNumber%> </p>
      <p><%= moment(policyOfAgent.policyDate).format('DD/MM/YYYY') %> </p>
      <p> <%= policyOfAgent.policyAmount%>,00 денари </p>
      <% for (installment of policyOfAgent.thePayment){%>
          <% if(moment(installment.date).isBetween(startDate, endDate) ) { %>
            <p><%=installment.amount%>,00 денари </p>                
            <% } %> 
  <% } %> 
  <% for (installment of policyOfAgent.thePayment){%>
    <% if(moment(installment.date).isBetween(startDate, endDate)) { %>
      <p><%=installment.agentCommision%>,00 денари </p>                
      <% } %> 
<% } %> 
    </div>
<% } %> 

  </main>
<%- include('../shared/includes/footer')%>
