<%- include('../../shared/includes/head', {pageTitle: 'All Clients'})%>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    <script src="/scripts/client-managment.js" defer></script>
</head>
<body>
 <%- include('../../shared/includes/header')%>
<main>
    <h1>Агент: <%=agentName%> </h1>
<section class="center-section">
    <div class="div-helper" >
        <p><a href="/new-client" class="btn">Внеси нов клиент</a></p>
    </div>
</section>
    <br>
    <hr>
    <br>
    <% if(locals.isAdmin) {%>
        <section class="totalReportSection">
            <p>Вкупен број на клиенти: </p>
            <p>Вкупен износ на полисирана премија:</p>
            <p>Вкупен износ на наплатена премија: </p>
            <p>Процент на наплата на премија: </p>
          </section>
          <section  class="totalReportSection">
            <p><%=clients.length%></p>
            <p><%=totalAmountsPremium%>,00 денари</p>
            <p><%=totalPaidAmounts%>,00 денари </p>
            <p> <%=percentagePayment%> %</p>
          </section>
        <br>
        <hr>
        <section class="totalReportSection">
          <p>Пресметки за 2023та година</p>
          <p>Вкупно полисирана премија:</p>
          <p>Вкупно наплатена премија: </p>
          <p>Процент на наплата: </p>
        </section>
        <section  class="totalReportSection">
          <p></p>
          <p><%=totals23.totalPremiums23%>,00 денари</p>
          <p><%=totals23.totalPayments23%>,00 денари </p>
          <p> <%=totals23.percentagePayment23%> %</p>
        </section>
        <hr>
        <section class="totalReportSection">
          <p>Пресметки за 2024та година</p>
          <p>Вкупно полисирана премија:</p>
          <p>Вкупно наплатена премија: </p>
          <p>Процент на наплата: </p>
        </section>
        <section  class="totalReportSection">
          <p></p>
          <p><%=totals24.totalPremiums24%>,00 денари</p>
          <p><%=totals24.totalPayments24%>,00 денари </p>
          <p> <%=totals24.percentagePayment24%> %</p>
        </section>
        <hr>
        <hr>
        <br>
    <% }%>
    <div class="searchBar">
        <input type="text" placeholder="Пребарувај (име и презиме, ЕМБГ/ЕМБС, број полиса)" id="searchBar" onkeyup="searchClients()"> 
    </div>
      <ul id="myUL">
        <%-include('../../shared/includes/client') %>
      </ul>
</main>
<%- include('../../shared/includes/footer')%>
