<%- include('../../shared/includes/head', {pageTitle: 'All Clients'})%>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
    <script src="/scripts/client-managment.js" defer></script>
</head>
<body>
 <%- include('../../shared/includes/header')%>
<main>
    <h1>Агент: <%=agentName%> </h1>
<section class="center-section">
    <div class="div-helper" >
        <p ><a href="/new-client" class="">Внеси нов клиент</a></p>
    </div>
</section>

    <% }%>
    <div class="searchBar">
        <input type="text" placeholder="Пребарувај (име и презиме, ЕМБГ/ЕМБС)" id="searchBar" onkeyup="searchClients()"> 
    </div>
      <ul id="myUL">
        <%-include('../../shared/includes/client') %>
      </ul>
</main>
<%- include('../../shared/includes/footer')%>
