<%- include('../../shared/includes/head', {pageTitle: 'Login'})%>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/auth.css">
</head>
<body>
 <%- include('../../shared/includes/header')%>
<main>
    <h1>Креирај агент</h1>
    <% if (!inputData.errorMessage) { %>
        <section class="alert">
            <p><%=inputData.errorMessage%></p>
        </section>
    <%}%>
    <form acction="/signup" method="POST">
        <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
        <p>
            <label for="email">Корисник</label>
            <input type="input" id="email" name="email" value="<%=inputData.email%>" required>
        </p>
        <p>
            <label for="password">Лозинка</label>
            <input type="password" id="password" name="password" minlength="6" value="<%=inputData.password%>" required>
        </p>
        <hr>
        <p>
            <label for="fullname">Име и презиме</label>
            <input type="text" id="fullname" name="fullname" value="<%=inputData.fullname%>" required>
        </p>
        <button class="btn"> Креирај Агент </button>
    </form>
</main>
<%- include('../../shared/includes/footer')%>