<form action="/update-client/<%=client._id%>"  method="POST" id="updateClientData">
    <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
    <label for="name"></label>
    <input type="text" name="name" id="name"  value="<%=client.name%>">
    <label for="address"></label>
    <input type="text" name="address" id="address" value="<%=client.address%>">
    <label for="pin"></label>
    <input type="text" name="pin" id="pin" value="<%=client.pin%>" minlength="6" maxlength="13" required> 
<hr>
    <label for="insurancePolicy"></label>
    <input type="text" name="insurancePolicy" id="insurancePolicy" value="<%=client.insurancePolicy%>" > 
    
    <label for="amount"></label>
    <input type="number" name="amount" id="amount" value="<%=client.amount%>"> 

    <label for="payment"></label>
    <input type="number" name="payment" id="payment" value="<%=client.payment%>"> 
    
    <label for="insurancePolicyType"></label>
    <select type="text" name="insurancePolicyType" id="insurancePolicyType" placeholder="Премија по полиса"> 
        <option value="">Избери класа</option>
        <option id="" value="Осигурување од одговорност од употреба на моторни возила (AO)">  Осигурување од одговорност од употреба на моторни возила (AO)</option>
        <option id="" value="Осигурување од одговорност од употреба на моторни возила (ЗК)">  Осигурување од одговорност од употреба на моторни возила (ЗК)</option>
        <option id="" value="Осигурувањето на имот од пожар и природни непогоди">Осигурувањето на имот од пожар и природни непогоди</option>
        <option id="" value="Други осигурувања на имот"> Други осигурувања на имот</option>
        <option id="" value="Несреќен случај - незгода">Несреќен случај - незгода</option>
        <option id="" value="Здравственото осигурување">Здравственото осигурување</option>
        <option id="" value="Осигурувањето на моторни возила (каско)">Осигурувањето на моторни возила (каско)</option>
        <option id="" value="Општото осигурување од одговорностт">Општото осигурување од одговорност</option>
        <option id="" value="Осигурувањето на шински возила (каско)">Осигурувањето на шински возила (каско)</option>
        <option id="" value="Осигурувањето на воздухоплови (каско) ">Осигурувањето на воздухоплови (каско) </option>
        <option id="" value="Осигурувањето на пловни објекти (каско)">Осигурувањето на пловни објекти (каско)</option>
        <option id="" value="Осигурувањето од одговорност од употреба на воздухоплови">Осигурувањето од одговорност од употреба на воздухоплови</option>
        <option id="" value="Осигурувањето од одговорност од употреба на пловни објектит">Осигурувањето од одговорност од употреба на пловни објекти</option>
        <option id="" value="Осигурувањето од одговорност од употреба на пловни објектит">Осигурувањето од одговорност од употреба на пловни објекти</option>
        <option id="" value="Осигурувањето на кредити">Осигурувањето на кредити</option>
        <option id="" value="Осигурувањето на гаранции">Осигурувањето на гаранции</option>
        <option id="" value="Осигурувањето од финансиски загуби">Осигурувањето од финансиски загуби</option>
        <option id="" value="Осигурувањето на правна заштита">Осигурувањето на правна заштита</option>
        <option id="" value="Осигурувањето на туристичка помош">Осигурувањето на туристичка помош</option>
        <option id="" value="Осигурувањето на живот">Осигурувањето на живот</option>
        <option id="" value="Осигурувањето на брак или породување">Осигурувањето на брак или породување</option>
        <option id="" value="Осигурувањето на живот во врска со удели во инвестициони фондови">Осигурувањето на живот во врска со удели во инвестициони фондови </option>
        <option id="" value="Осигурувањето на тонтина (здружение на рентиери)">Осигурувањето на тонтина (здружение на рентиери)</option>
        <option id="" value="Осигурувањето на средства за исплата">Осигурувањето на средства за исплата</option>
    </select>    
    <label for="insurancePolicyDate"></label>
    <input type="date" name="insurancePolicyDate" id="insurancePolicyDate" value="<%=client.insurancePolicyDate%>"> 
    <label for="installmentsNumber"></label>
    <input type="number" name="installmentsNumber" id="installmentsNumber" value="<%=client.installmentsNumber%>" min="1" max="6"> 
    <button class="btn"> Промени клиент </button>
    <main>
</form>
