<%- include('../../shared/includes/head', {pageTitle: 'All Clients'})%>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/policies.css">
    <script src="/scripts/client-managment.js" defer></script>
</head>
<body>
 <%- include('../../shared/includes/header')%>
<main>
    <br>
    <hr>
    <br>
    <% if(locals.isAdmin) {%>
        <section class="totalReportSection">
            <p>Вкупен број на полиси: <%=policiesNumber%></p>
            <p>Вкупен износ на полисирана премија: <%=totalAmountsPremium%>,00 денари</p>
            <p>Вкупен износ на наплатена премија: <%=totalPaidAmounts%>,00 денари </p>
            <p>Процент на наплата на премија: <%=percentagePayment%> %</p>
          </section>
          <section class="totalReportSection">
          </section>
        <br>
        <hr>
        <br>
    <% }%>
     <form action="/policy-by-date" method="POST" class="search-agent">
      <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
      <div class="search-bar-div">
        <label for="start-date">Почетен датум:</label>
        <input type="date" name="startDate" id="startDate">
        <label for="endDate">Краен датум:</label>
        <input type="date" name="endDate" id="endDate">
      </div> 
      <button id="searchBtn" class="btn">Барај</button>
  </form>
    <div class="searchBar">
        <input type="text" placeholder="Пребарувај (број на полиса, ЕМБГ/ЕМБС)" id="searchBar" onkeyup="searchClients()"> 
    </div>
    <div class="client" id="allpolicies-top">
      <p>Број на полиса: </p>
      <p>Класа: </p>
      <p>Регистрација: </p>
      <p>Премија на полиса: </p>
      <p>Платена премија: </p>
      <p>Датум на полиса: </p>
      <p>Клиент: </p>
    </div>
    <hr>
    <section id="allPolicies">
   <ul id="policy-list">  
      <% for (const policy of policies) { %>
        <li class="<%= policy.isUnpaid ? 'unpaid' : policy.discount ? 'discount' : '' %>">
          <div class="client">
            <p><%= policy.policyNumber.policyNumber %></p>
            <p><%= policy.policyNumber.policyType %></p>
            <p><%= policy.policyNumber.registrationNumber %></p>
            <p><%= policy.policyNumber.policyAmount%>,00 денари</p>
            <p><%= policy.policyNumber.totalPaid%>,00 денари</p>
            <p><%= moment(policy.policyNumber.policyDate).format('DD.MM.YYYY') %></p>
            <form action="/find-by-policy" method="POST">
              <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
              <input type="hidden" name="policyNumber" value="<%=policy.policyNumber.policyNumber%>">
              <button id="clientByPolicyBtn"><%= policy.policyNumber.clientName %></button>
            </form>
          </div>
        </li>
      <% } %>  
   </ul>
  </section>
</main>
<script>
  // Get today's date
  const today = new Date().toISOString().split('T')[0];
  // Set the value of the date input field to today's date
  document.getElementById('endDate').value = today;
</script>
<%- include('../../shared/includes/footer')%>
