<%- include('../../shared/includes/head', {pageTitle: 'All Clients'})%>
<link rel="stylesheet" href="/styles/forms.css">
<link rel="stylesheet" href="/styles/policies.css">
<script src="/scripts/client-managment.js" defer></script>
</head>
<body>
<%- include('../../shared/includes/header')%>
<main>
    <br>
    <br>
    <form action="/policy-by-date" method="POST" class="search-agent">
        <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
        <div class="search-bar-div">
            <label for="start-date">Почетен датум:</label>
            <input type="date" name="startDate" id="startDate">
            <label for="endDate">Краен датум:</label>
            <input type="date" name="endDate" id="endDate"> 
            <p>Класа на полиса:</p>
            <select type="text" name="insurancePolicyType" id="insurancePolicyType" placeholder="Премија по полиса">
                <option value="">Сите класи</option>
                <option value="Осигурување од одговорност од употреба на моторни возила (AO)">Осигурување од одговорност од употреба на моторни возила (AO)</option>
                <option value="Осигурување од одговорност од употреба на моторни возила (ЗК)">Осигурување од одговорност од употреба на моторни возила (ЗК)</option>
                <option value="Осигурувањето на имот од пожар и природни непогоди">Осигурувањето на имот од пожар и природни непогоди</option>
                <option value="Други осигурувања на имот">Други осигурувања на имот</option>
                <option value="Несреќен случај - незгода">Несреќен случај - незгода</option>
                <option value="Здравствено осигурување">Здравствено осигурување</option>
                <option value="Осигурување на стока во превоз (CMR)">Осигурување на стока во превоз (CMR)</option>
                <option value="АО за странски возила (гранично осигурувања)">АО за странски возила (гранично осигурувања)</option>
                <option value="Осигурувањето на моторни возила (каско)">Осигурувањето на моторни возила (каско)</option>
                <option value="Општото осигурување од одговорностт">Општото осигурување од одговорност</option>
                <option value="Осигурувањето на шински возила (каско)">Осигурувањето на шински возила (каско)</option>
                <option value="Осигурувањето на воздухоплови (каско)">Осигурувањето на воздухоплови (каско)</option>
                <option value="Осигурувањето на пловни објекти (каско)">Осигурувањето на пловни објекти (каско)</option>
                <option value="Осигурувањето од одговорност од употреба на воздухоплови">Осигурувањето од одговорност од употреба на воздухоплови</option>
                <option value="Осигурувањето од одговорност од употреба на пловни објекти">Осигурувањето од одговорност од употреба на пловни објекти</option>
                <option value="Осигурувањето на кредити">Осигурувањето на кредити</option>
                <option value="Осигурувањето на гаранции">Осигурувањето на гаранции</option>
                <option value="Осигурувањето од финансиски загуби">Осигурувањето од финансиски загуби</option>
                <option value="Осигурувањето на правна заштита">Осигурувањето на правна заштита</option>
                <option value="Осигурувањето на туристичка помош">Осигурувањето на туристичка помош</option>
                <option value="Осигурувањето на живот">Осигурувањето на живот</option>
                <option value="Осигурувањето на брак или породување">Осигурувањето на брак или породување</option>
                <option value="Осигурувањето на живот во врска со удели во инвестициони фондови">Осигурувањето на живот во врска со удели во инвестициони фондови</option>
                <option value="Осигурувањето на тонтина (здружение на рентиери)">Осигурувањето на тонтина (здружение на рентиери)</option>
                <option value="Осигурувањето на средства за исплата">Осигурувањето на средства за исплата</option>
            </select>

            <p>Агент продавач:</p>
            <select name="agentSeller" id="agentSeller" placeholder="Агент - продавач">

                <% if (locals.isAdmin || locals.isEditor) { %>
                    <!-- Admins and Editors see all options -->
                    <% locals.allAgents.forEach(agent => { %>
                        <option value="<%= agent %>"><%= agent %></option>
                    <% }) %>
                <% } else { %>
                    <!-- Basic users see only their own name -->
                    <option value="<%= locals.agentName %>"><%= locals.agentName %></option>
                <% } %>
            </select>
        </div>
        <button id="searchBtn" class="btn">Генерирај</button>
    </form>
    <div>
        <form action="/find-policy" method="POST">
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
            <label for="policyNumber"></label>
            <input type="text" name="policyNumber" id="policyNumber" placeholder="Број на полиса" required style="font-size: large;">
            <button class="btn"> Барај Полиса </button>
        </form>
    </div>
    <div style="text-align: left;">
        <p>Постари записи (полиси превземени од ексел)</p>
        <a href="/get2021" class="btn">2021 година</a>
        <a href="/get2022" class="btn">2022 година</a>
        <!-- <form action="/policy-by-date" method="POST" class="search-agent">
            <input type="hidden" name="_csrf" value="<%=locals.csrfToken%>">
            <div class="search-bar-div">
                <label for="start-date">Почетен датум:</label>
                <input type="date" name="startDate" id="startDate">
                <label for="endDate">Краен датум:</label>
                <input type="date" name="endDate" id="endDate"> 
                </select>
            </div>
            <button id="searchBtn" class="btn">Генерирај</button>
        </form> -->
    </div>
</main>
<script>
    // Get today's date
    const startDate = new Date().toISOString().split('T')[0];
    const today = new Date().toISOString().split('T')[0];
    // Set the value of the date input field to today's date
    document.getElementById('startDate').value = startDate;
    document.getElementById('endDate').value = today;
</script>
<%- include('../../shared/includes/footer')%>
