<%- include('../../shared/includes/head', {pageTitle: 'All Clients'})%>
    <link rel="stylesheet" href="/styles/forms.css">
    <link rel="stylesheet" href="/styles/policies.css">
    <script src="/scripts/client-managment.js" defer></script>
</head>
<body>
 <%- include('../../shared/includes/header')%>
<main>
    <br>
    <h3>Полиси по избран датум: <%=moment(startDate).format('DD/MM/YYYY')%>  година до <%=moment(endDate).format('DD/MM/YYYY')%>  година</h3>
    <hr>
    <table>
      <thead>
        <tr>
          <th>#</th>
          <th>Број на полиса:</th>
          <th>Класа</th>
          <th>Премија на полиса:</th>
          <th>Датум на полиса</th>
          <th>Договорувач</th>
          <th>Регистрација</th>
        </tr>
      </thead>
      <tbody>
        <% let count = 1 %>
        <% requiredPoliciesByDate.forEach(policy => { %>
          <tr class="<%= policy.isUnpaid ? 'unpaid' : policy.discount ? 'discount' : '' %>">
            <td><%= count %></td>
            <td><%= policy.policyNumber %></td>
            <td style="font-size: smaller;"><%= policy.policyType %></td>
            <td><%= policy.policyAmount%>,00 денари</td>
            <td><%=moment(policy.policyDate).format('DD/MM/YYYY')%></td>
            <td><%= policy.clientName %></td>
            <td><%= policy.registrationNumber %></td>
          </tr>
          <% count++ %>
        <% }); %>
      </tbody>
      <thead>
        <tr>
          <th></th>
          <th></th>
          <th style="font-size:larger">ВКУПНО</th>
          <th><%=totalPolicyAmount%>,00 денари</th>
          <th></th>
          <th></th>
          <th></th>
        </tr>
      </thead>
    </table>    
</main>
<%- include('../../shared/includes/footer')%>
